<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>

<h1>Создание задачи:</h1>

<form action="/tasks/add/" method="post">
    {% csrf_token %}
    <label><strong>Status:</strong></label><br/>
    <select name="status">
        {% for value, status in statuses %}
            <option value="{{ value }}">{{ status }}</option>
        {% endfor %}
    </select><br/><br/>
    <label><strong>Description:</strong></label><br/>
    <textarea name="description"></textarea><br/><br/>
    <label><strong>Execution Date:</strong></label><br/>
    <input type="text" name="execution_date"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<br/>
<a href="/"><strong>На главную</strong></a>
</body>
</html>