<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h3>{{ task.description }}</h3>
    <p>{{ task.get_status_display }}</p>
    {% if task.execution_date is not None %}
            <p>{{ task.execution_date }}</p>
    {% endif %}
    <br/>
    <a href="/"><strong>На главную</strong></a>
</body>
</html>