{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_add' %}">Add Task</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Задача номер: {{ task.id }}</h1>
    <h3>Наименование задачи: {{ task.title }}</h3>
    <p>Описание задачи: {{ task.description }}</p>
    <p>Статус: {{ task.get_status_display }}</p>
    {% if task.execution_date is not None %}
        <p>Дата выполнения: {{ task.execution_date }}</p>
    {% endif %}
    <p>Дата создания: {{ task.created_at }}</p>
    <p>Дата изменения: {{ task.updated_at }}</p>
{% endblock %}

